<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src='../dist/first-run.js'></script>
    <link rel="stylesheet" type="text/css" href="../dist/style.css">

    <title>AnyFetch chrome extension</title>
  </head>
  <body class="first-run">
    <header class="row container">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <img src="/res/images/anyfetch_icon.svg" alt="AnyFetch Icon" class="logo"> Any<b>Fetch</b>
      </div>
    </header>
    <div class="vertical-align">
      <div class="row container">
        <section id="index" class="content col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 hidden">
          <h1>Welcome to AnyFetch for Google Chrome!</h1>
          <hr>
          <p>We need you to login with your AnyFetch account to continue. If you don't have one, don't worry, you can create one in seconds</p>
          <hr>
          <div>
            <a id="start-oauth" class="btn btn-success btn-block">Login with my AnyFetch account</a>
            <a target="_blank" href="https://manager.anyfetch.com/">Register now</a>
          </div>
        </section>
        <section id="loader" class="content col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 hidden">
          <div class="spinner large"></div>
          <hr>
          <p>Please complete the AnyFetch authentification to continue</p>
        </section>
        <section id="error" class="content col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 hidden">
          <h3>Something bad happened</h3>
          <img src="/res/images/cross.svg" alt="Red failed cross icon" class="big-icon" />
          <hr>
          <p id="error-message"></p>
          <hr>
          <a href="#" id="action" class="hidden">Retry ?</a>
        </section>
        <section id="success" class="content col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 hidden">
          <h3>Done! What now?</h3>
          <img src="/res/images/tick.svg" alt="Green Success tick icon" class="big-icon" />
          <hr>
          <p>The AnyFetch icon will appear when you're navigating on a supported site:</p>
          <img src="/res/chrome-example.png" alt="" class="chrome-example" />
          <p>Click it to view the current context<br>
          (<em>you may need to reload your tabs</em>)</p>
          <hr>
          <a href="#" id="close-tab">You can close this tab</a> or access the <a href="/views/settings.html" id="close-tab">options</a>
        </section>
      </div>
    </div>
  </body>
</html>
