<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src='../dist/oauth-callback.js'></script>
    <link rel="stylesheet" type="text/css" href="../dist/style.css">

    <title>AnyFetch | Settings</title>
  </head>
  <body class="settings">
    <header class="row container">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <img src="/res/images/anyfetch_icon.svg" alt="AnyFetch Icon" class="logo"> Any<b>Fetch</b>
      </div>
    </header>
    <div class="vertical-align">
      <div class="row container">
        <section class="content col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 row" id="state">
          <h1 id="state-msg"></h1>
          <img src="../res/images/cross.svg" alt="Red failed cross icon" id="fail-icon" class="hidden big-icon">
          <img src="../res/images/tick.svg" alt="Green successful tick icon" id="success-icon" class="hidden big-icon">
          <a href="/views/add-provider.html" class="btn btn-default btn-block">Back</a>
        </section>
      </div>
    </div>
  </body>
</html>
