<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src='../dist/settings.js'></script>
    <link rel="stylesheet" type="text/css" href="../dist/style.css">
    <script type="text/javascript" src='../dist/index-moment.min.js'></script>

    <title>AnyFetch | Settings</title>
  </head>
  <body class="settings">
    <header class="row container">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <img src="/res/images/anyfetch_icon.svg" alt="AnyFetch Icon" class="logo"> Any<b>Fetch</b>
      </div>
    </header>
    <div class="vertical-align">
      <div class="row container">
        <section class="content col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 row section-invisible" id="settings">
          <a href="/views/add-provider.html" title="Add a new provider to your AnyFetch account" class="pull-right btn btn-default">See connected services</a>
          <h1>Settings</h1>

          <div id="settingsInputs"></div>

          <div class="buttons">
            <button id="save" class="btn btn-success">Save</button>
            <button id="reset" class="btn btn-warning">Reset to defaults</button>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
