<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src='../dist/settings.js'></script>
    <link rel="stylesheet" type="text/css" href="../dist/chrome-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../dist/settings.css">

    <title>AnyFetch | Settings</title>
  </head>
  <body class="chrome-bootstrap">
    <header>
      <img id="logo" src="../res/logo38.png">
      <h1>AnyFetch | Settings</h1>
    </header>

    <section>
      <div id="settingsInputs"></div>

      <div class="buttons">
        <button id="save">Save</button>
        <button id="reset" class="small">Reset to defaults</button>
      </div>
    </section>
  </body>
</html>
