<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src='../dist/settings.js'></script>

    <title>AnyFetch | Settings</title>
  </head>
  <body>
    <h1>AnyFetch | Settings</h1>

    <p>
      <label for="token">Token</label>
      <input type="text" id="token" name="token" placeholder="64 hexadecimal characters" value="FILL IN CURRENT VALUE">
    </p>
    <p>
      <label for="apiUrl">AnyFetch API URL</label>
      <input type="text" id="apiUrl" name="apiUrl" placeholder="FILL IN DEFAULT VALUE" value="FILL IN CURRENT VALUE">
    </p>
    <p>
      <label for="appUrl">AnyFetch app URL</label>
      <input type="text" id="appUrl" name="appUrl" placeholder="FILL IN DEFAULT VALUE" value="FILL IN CURRENT VALUE">
    </p>


    <button id="save">Save</button>
    <button id="reset">Reset to defaults</button>
  </body>
</html>
