<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <script type="text/javascript" src="../dist/popup.js"></script>
    <script type="text/javascript" src="../dist/index-moment.min.js"></script> <!-- anyfetch-assets -->
    <link rel="stylesheet" type="text/css" href="../dist/popover.css">

    <title>AnyFetch</title>
  </head>
  <body>
    <a id="settingsLink" href="options.html" target="_blank" class="icon-utility-settings"></a>
    <section id="context"></section>
    <p id="errors" class="hidden"></p>
    <section id="results"></section>
    <section id="noresultserror" class="hidden">
      <p>No results :(</p>
      <a id="manager-url" target="_blank">See connected providers</a>
    </section>
    <img src="/res/images/anyfetch_icon_heron_only.svg" alt="Anyfetch Icon" class="bg-icon">
  </body>
</html>
