<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../dist/style.css">

    <title>AnyFetch | Settings</title>
  </head>
  <body class="settings">
    <header class="row container">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <img src="/res/images/anyfetch_icon.svg" alt="AnyFetch Icon" class="logo"> Any<b>Fetch</b>
      </div>
    </header>
    <div class="vertical-align">
      <div class="row container">
        <section class="content col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 row" id="settings">
          <h1>Settings</h1>
          <a target="_blank" title="Add a new provider to your AnyFetch account" class="btn btn-default" href="https://manager.anyfetch.com/providers">Connect new services</a>
          <a href="/views/first-run.html" title="Login" class="btn btn-success">Login</a>

          <hr>
          <div class="buttons text-right">
            <a href="/views/advanced-settings.html" title="See advanced settings">Advanced</a>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
