@charset "utf-8";
@import "base.less";
@import "variables.less";
@import "icons.less";
@import "spinner.less";
@import (inline) "../../lib/anyfetch-assets/dist/index.css";
@import (inline) "../../lib/anyfetch-assets/dist/compact.css";

html {
  background: @backgroundColor;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: @defaultFontSize;
  width: 400px;
}

.bg-icon {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -100;
  max-height: 150px;
  max-width: 150px;
  opacity: .1;
}

#noresultserror {
  color: #ccc;
  text-align: center;
  margin-bottom: 2*@footerHeight;
  margin-top: -@footerHeight;
  p {
    text-transform: uppercase;
    font-size: 3em;
  }
  a {
    color: #999;
    font-size: 1.2em;
    text-decoration: underline;
  }
  a::hover {
  }
}

#context {
  min-height: 50px;
  background-color: @darkGray;
  color: @headerColor;
  font-size: 1.3em;

  i {
    float: left;
  }

  .context {
    padding: 16px;
    ul.context-selection {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-right: 34px;

      li.context-item {
        display: inline
      }
      li.context-item:hover {
        cursor: pointer;
      }
      li.context-item:not(:last-of-type)::after {
        content: ", ";
      }
      li.inactive > span {
        text-decoration: line-through;
      }
    }
  }
}

#settingsLink {
  display: block;
  position: absolute;
  top: 10px; right: 10px;
  margin: 3px 3px 0 0;
  font-size: 24px;
  color: white;
}

#errors {
  width: 100%;
  padding: 17px;
  background: @errorBackground;
  color: @errorColor;
  margin: 0px;
  font-weight: 500;

  a {
    color: @errorColor;
    text-decoration: underline;
  }
}

#results {
  max-height: 450px;
  min-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;

  .spinner-table {
    min-height: 250px;
    width: 100%;
    display: table;
    text-align: center;
    .spinner-cell {
      .message {
        margin-top: 10px;
        color: darken(@backgroundColor, 40%)
      }
      vertical-align: middle;
      display: table-cell;
    }
  }

  #document-list {
    list-style: none;
    margin: 0; padding: 0;

    fieldset {
      border: 0;
      border-top: 1px solid #dddddd;
      text-align: center;
      margin: 20px 10px -5px 10px;
    }

    .sliceHeader {
      width: auto;
      color: #6D6D6D;
      padding: 0px 10px;
      font-size: 14px;
    }

    .document-snippet {
      position: relative;
      height: 92px;
      overflow: hidden;
      margin: 0px 5px 10px 5px;
      padding: @snippetPadding;
      padding-left: @snippetPadding + @snippetBadgeWidth;
      background-color: @snippetBackgroundColor;
      border: @snippetBorder;
      font-weight: 300;
      border-radius: 5px;

      .badge-icon {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: @snippetBadgeWidth;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &.email, &.email-thread {
          background-color: #DC4638;
          background-image: url('/res/document_types-icons/email.png');
        }

        &.image {
          background-color: #F8BE46;
          background-image: url('/res/document_types-icons/image.png');
        }

        &.contact {
          background-color: #F8BE46;
          background-image: url('/res/document_types-icons/contact.png');
        }

        &.salesforce {
          background-color: #4EB1CB;
          background-image: url('/res/document_types-icons/salesforce.png');
        }

        &.document {
          background-color: #3C8CEA;
          background-image: url('/res/document_types-icons/document.png');
        }

        &.event {
          background-color: #45B058;
          background-image: url('/res/document_types-icons/event.png');
        }
      }

      .two-columns {
        margin-bottom: 3px;
      }

      &:hover {
        background-color: @snippetHighlightBackgroundColor;
      }

      aside {
        float: left;
      }
      img {
        height: 80px;
        margin-right: 10px;
      }
    }
  }
}

.see-all {
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  margin: 1em 0;
  a:hover {
    text-decoration: underline;
  }
}
