@import "mixins.less";
@import "base.less";
@import "variables.less";

html, body {
  height: 100%;
  width: 400px;
  min-height: 250px; max-height: 600px;
}
body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: @defaultFontSize;
  margin: 0; padding: 0;

  background: @backgroundColor;
}

#context {
  text-align: center;
  margin-bottom: 10px;
  padding: 15px 0;
  background-color: @darkGray;
  box-shadow: @innerShadow;
  color: @headerColor;
  font-weight: 400;

  // Magnifying glass icon
  &::before {
    content: '';
    display: inline-block;
    margin: 3px 5px 0 0;
    .icon("iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACTElEQVRYw9WXP0hCURjFRSQiIiIiGhrEMSKaIhoaIhqaIsIhGiKiKZqaoi0iIpoiGpobIhwiIhoiHBoiGqRBpEGiISIkIp6oz6edj64gt+/dd69PjS58g/rOOb/7910DAUWzLCvoOM54qVTaR92jPlAOKo9Ko85QK8VisSdQ74bgKMyTZY0mgI4A0us7GCZdMDvXCWZAPgA+6ye8DyapWsKrIMqAWDMOt227UzXk+M1GJVBXqDjqzQNiyQgAolMXs1daaATIrJMR/BajQG5dYEQHtcJhNOVicgGTTg39DJ61GP2tbu/vGPFVoVAI6Y4gICZommQffD/pJRxkwjPoebfRHP50ZJvxOvUSbTCiDdNwalgnHdB+Sl5fONBaVAC/9jx6H6kFQPgdM35DKsGjRPxea7jwW2XWwbRKkJYAkj4B5hiAeZUgJQG8+ARYZgCiKsG1BOBgMXX5ADhg1sCoSrDL7ILFWsKz2WwI2mfJy87lcu2uIjpAGIBkPp9vMciueC0wXnGlCHS/qMW87ZiEY5jDtIMYH+/RpJcNQ07idc3wCJ5/Yjye0cFWTwMMN41Cosw0fH+JgAEXXSsgV+gi4qI9MRnCfvkYrR4N1IO4G66jNumMdwuWpmBPG0JcQC0vU9NmCjFMh1G9IeCpDyGuZ4fc+10RkKQLSN0gxLoIi/l+pBOSMaT/CTF62dB/CFxg2vD5pq4QlYbt1EGvVdQYHa0YpXAmkwnKzzUUwmAK/w3E1p9B0Hanbd9QADeIpoVzEE0PrzTsHIK4kMO/AU8zy9MLjlTJAAAAAElFTkSuQmCC", 16px, 16px);
  }
}

#settingsLink {
  display: block;
  position: absolute;
  top: 10px; right: 10px;
  // Gear icon
  .icon("iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABVUlEQVRYw91XOw7CMAxl5Agcgqljj8GAOEx3DtMJIdQD9Bw9AiND+gt+KBVRaONQSI14kgVyE78nx/l4tZqBruv2fd9r2+CbE2sWiPCkHcC3CHnTNBsiUyMCFL59hYTSmVDAnH5T21/X9Zr8Zz0BfFNKrZ1YqYmVvEN+NQFhJVlGdiSrNAOMMWMzM3fwX1kRNnkMsCKQqljklojcl4F0SFkkcu3W1VgWyogCSrYIUTwRBWQhAo5cGskKSuWhbdstDP/h45YPsb3kZp9XngA3Itt5amiHMZ75FTimyDfMIaN95I4IXxbO4LIn4GI5jR2vzsSCXb/nMhZMLAXOxwUWuu2wzqECMDYkJriDBaDYQgVg7P8JiLYE4kU4QGwb2hA9iKz0yR3FRoD4ZSR3HYs/SH7hSSb7KHVFLP4sd0S8NCZoOpjD6vJxY8JhkdaMg2hzCnyzPb8DLNiIfaY9oo8AAAAASUVORK5CYII=");
  margin: 3px 3px 0 0;
}

#error {
  width: 100%;
  padding: 17px;
  background: @errorBackground;
  color: @errorColor;
  margin: 0px;
  font-weight: 500;

  a {
    color: @errorColor;
    text-decoration: underline;
  }
}

#results {
  padding-bottom: @footerHeight;

  #document-list {
    list-style: none;
    margin: 0; padding: 0;

    fieldset {
      border: 0;
      border-top: 1px solid #dddddd;
      text-align: center;
      margin: 20px 10px -5px 10px;
    }

    .sliceHeader {
      width: auto;
      color: #6D6D6D;
      padding: 0px 10px;
      font-size: 14px;
    }

    .document-snippet {
      position: relative;
      height: 80px;
      overflow: hidden;
      margin: 0px 5px 10px 5px;
      padding: @snippetPadding;
      padding-left: @snippetPadding + @snippetBadgeWidth;
      background-color: @snippetBackgroundColor;
      border: @snippetBorder;
      font-weight: 300;

      .badge-icon {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: @snippetBadgeWidth;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &.email {
          background-color: #CA1400;
          background-image: url('/res/document_types-icons/email.png');
        }

        &.image {
          background-color: #F7931D;
          background-image: url('/res/document_types-icons/image.png');
        }

        &.contact {
          background-color: #8829BF;
          background-image: url('/res/document_types-icons/contact.png');
        }

        &.salesforce {
          background-color: #CDEEFA;
          background-image: url('/res/document_types-icons/salesforce.png');
        }

        &.document {
          background-color: #0084EE;
          background-image: url('/res/document_types-icons/document.png');
        }

        &.event {
          background-color: #BE41A4;
          background-image: url('/res/document_types-icons/event.png');
        }
      }

      h1, h4 {
        max-width: 100%;
        text-overflow: ellipsis;
        word-wrap: break-word;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 2px;
        font-weight: 400;
      }

      .two-columns {
        margin-bottom: 3px;
      }

      &:hover {
        background-color: @snippetHighlightBackgroundColor;
      }

      aside {
        float: left;
      }
      img {
        height: 80px;
        margin-right: 10px;
      }
    }
  }

  footer {
    display: block;
    width: 100%; height: @footerHeight;
    color: @footerColor;

    position: fixed;
    bottom: 0; left: 0; right: 0;

    background-color: @footerBackgroundColor;

    text-align: center;
    font-size: 1.3em;

    a {
      display: block;
      width: 100%;
      padding: 0.6em 0;
      color: @footerColor;

      &:hover {
        color: @highlightColor;
      }
      // Arrow icon
      &::before {
        content: '';
        display: inline-block;
        margin-right: 5px;
        .icon("iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABoElEQVRYw+2WPUvDUBSGQ+jg0EHEQaSDg0NwcBARR3EQcXJw8gc4OjgWETqLQycRR8nkXET6AxwcHRycDHQQBxOaD/Lte+AiMTT3NmlCoOSFM+Xc87zn3pybSFKjRvMi0zTlIAjWazNgWVYriqJxGIZntRmImWBkEPjBSm0GmIlv7MZJ5WDDMOjsdwHrxSnBBMWD7/uLpYNRVAH0BoBRLBByPpG7XwoY3e6h4DN1l0fIh4ew77ruQlHwJooM84InGHlHre2pweQYzq+x0J+J/N+Ej5qXjuO0RF1vIPmtLHBaMKFmwvHwCHCjCjCbjlvP89pZ8NMytzwFH6H+Ia/z4wrhjxjfJR58C0lWBeAf2lXuCwdnbSR+5CjqUD7ihd0Lg4y8IWp3hOOGxD4HNkY8oYsu4gCj2dE0TU6un/AtsJB7ruu6LIQjUUmfO+tQpWmwbVt4e6W+hq8YYUUITnSvJs8LcYVtW566gPT3P0AXTE94wSQFp6u0kO5qxB33LeWI/RHt5F4I6AXii862CHhmAX4P52u1wEm4DgtteaNGc6NfDUqH7aC4SgcAAAAASUVORK5CYII=");
      }
    }
  }
}
