@import "mixins.less";
@import "base.less";
@import "variables.less";

html, body {
  height: 100%;
  width: 400px;
  min-height: 250px; max-height: 600px;
}
body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 0; padding: 0;

  background: @backgroundColor;
  background: linear-gradient(45deg,  #32fcf9 0%,#d325ea 32%,#f72e2e 58%,#eeff00 100%);
}

#context {
  text-align: center;
  margin-bottom: 10px; padding: 5px 0;
  border-bottom: 1px solid #444;

  line-height: 24px;

  // Magnifying glass icon
  &::before {
    content: '';
    display: inline-block;
    margin: 3px 5px 0 0;
    .icon("iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABCUlEQVQ4y2NggAIWFhY2IJUHxKeB+DsQ/wTi80BcApTjYMAHmJiYpKCK/+PAV4Fq5LBqhtp8FqrwOiMjox87OzsHCADZXkCxy1C5y6ysrFhdkgZVcJuZmVkIiwV8IBeA1AANzMNmwEGoZBguLwLlfKCWnMQm/xokCbRJBJcBPEAANeArNvmXUAPEcBnAxcXFh8+AvVAvxODxQgjUgOPYJBOgkg+BgSiBJRBBXrsLtWQihgHAKGMBUoehhjwGGQiMLikQhrrqPgMiPfzF6lJo9B1kwJ2Q/hM0BBhQTECJKCBzJxA/h+K9QLHZRBuCJxDLqGFICRZDnhJtAA6X1JBkAJJLPgJxIzCKmQBmPFsyiMlVawAAAABJRU5ErkJggg==", 16px, 16px);
  }
}

#settingsLink {
  display: block;
  position: absolute;
  top: 0; right: 0;
  // Gear icon
  .icon("iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABAUlEQVRIx71WOw7CMAxtI7p07SU4A8dh6hF6l86dK06RgRN04hxMYCMbWZHjNijmSRYh8Sf+xW2ag2jb9g4/LyRa10PXdWdWzkR75YDbXUMIF/7f9/0J9tbUAO7hGfOhDMruKZ+Ekgg0A22pckEb8URheMre3FBURKonFJYqBmSIU8QKBqKVhtkQfIDrCxKuDb5Z1UwVoSX0CS6PwzAE5sU17uGZlnhZXR9gTWulSPEcc+7SmZbk9dsnskO1sMibp6CzbLi4461yW5odEI+VdGcD/wiRb5IZrmUq4NdoBL+nwv2xc3+uyUjxwAGZYwNHenJwZN6KR2YOVYe+4dlPny1vzbU8LXTtLFUAAAAASUVORK5CYII=");
  margin: 3px 3px 0 0;
}

#error {
  width: 100%;
  margin: 0 0 10px 0; padding: 10px 0;
  background: @errorBackground;

  a {
    color: @anyFetchBlue;
  }
}

#results {
  padding-bottom: @footerHeight;

  #document-list {
    list-style: none;
    margin: 0; padding: 0;

    .document-snippet {
      position: relative;
      height: 80px;
      overflow: hidden;
      margin-bottom: 10px; padding: 5px;
      background-color: @snippetBackgroundColor;

      &:hover {
        background-color: @highlightBackgroundColor;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0; left: 0; right: 0;
        height: 1 * @lineHeight;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, @backgroundColor 100%);
      }

      aside {
        float: left;
      }
      img {
        height: 80px;
        margin-right: 10px;
      }
    }
  }

  footer {
    display: block;
    width: 100%; height: @footerHeight;

    position: fixed;
    bottom: 0; left: 0; right: 0;

    background-color: @footerBackgroundColor;

    text-align: center;
    font-size: 1.3em;

    a {
      display: block;
      width: 100%;
      padding: 0.6em 0;

      &:hover {
        color: @highlightColor;
      }
      // Arrow icon
      &::before {
        content: '';
        display: inline-block;
        margin-right: 5px;
        .icon("iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABL0lEQVRIx2NgGAVDFjAxMeWxsrIK0dKOg0D8FGiRGy0t+A/CjIyMU9nZ2bkoNpGNjU0BaFgFEB8Fcn/DLIDim8zMzBZkGczCwmIHNHQrkPkXzVB0/Buorpmbm5uFWIO1gBp2EzAUGz4N0ovTYAEBAWDcMVUBmT/JMByGv4NSGrZw5gO6eicFBsPwY2CcuKAYDk3XZyk1HOjApUCHCqAYDkxmHEDqKIWGvwUGSxjWcAfaOp2A5r9ANc+B+DIQnwTyP6K5ejswBKSwGg601QGLgS+BmhYC5ZKAKcJASEiIA00bLKN9BqrJIJQiYeEOcuVmYOR4CAsLE0rLIAuOAy1XwasKaLsT1PCjQIONCLkEBoBqfXh5eYnKUPOBrq7i4+NjItZwkgDQiy6UmzIKBjMAAP9xjrfFS6OvAAAAAElFTkSuQmCC");
      }
    }
  }
}
