@import "base.less";
@import "variables.less";

html, body {
  height: 100%;
  width: 400px;
  min-height: 250px; max-height: 600px;
}
body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 0; padding: 0;

  background: @backgroundColor;
  background: linear-gradient(45deg,  #32fcf9 0%,#d325ea 32%,#f72e2e 58%,#eeff00 100%);
}

#context {
  text-align: center;
  margin-bottom: 10px; padding: 5px 0;
  border-bottom: 1px solid #444;

  &::before {
    // TODO: magnifying glass icon
    content: '';
  }
}

#settingsLink {
  display: block;
  position: absolute;
  top: 0; right: 0;
  width: 30px; height: 30px;

  // TODO: gear icon
  text-align: center;
  &::before {
    content: '(S)';
    line-height: 30px;
  }
  background-color: grey;
}

#error {
  width: 100%;
  margin: 0 0 10px 0; padding: 10px 0;
  background: @errorBackground;

  a {
    color: @anyFetchBlue;
  }
}

#results {
  padding-bottom: @footerHeight;

  #document-list {
    list-style: none;
    margin: 0; padding: 0;

    .document-snippet {
      position: relative;
      height: 80px;
      overflow: hidden;
      margin-bottom: 10px; padding: 5px;
      background-color: @snippetBackgroundColor;

      &:hover {
        background-color: @highlightBackgroundColor;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0; left: 0; right: 0;
        height: 1 * @lineHeight;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, @backgroundColor 100%);
      }

      aside {
        float: left;
      }
      img {
        height: 80px;
        margin-right: 10px;
      }
    }
  }

  footer {
    display: block;
    width: 100%; height: @footerHeight;

    position: fixed;
    bottom: 0; left: 0; right: 0;

    background-color: @footerBackgroundColor;

    text-align: center;
    font-size: 1.3em;

    a {
      display: block;
      width: 100%;
      padding: 0.6em 0;

      &:hover {
        color: @highlightColor;
      }
      &:after {
        content: '⇗';
      }
    }
  }
}
