@linkColor: #000;
@highlightColor: #333;
@anyFetchBlue: #25AAE1;
@darkGray: #344A5F;
@gray: #DDDDDD;
@lightGray: #F0F0F0;
@extraLightGray: #FAFAFA;
@brand-primary: @anyFetchBlue;

@defaultFontSize: 12px;
@lineHeight: 1.3em;

@navbarDefaultHeight: 50px;
@navbarDefaultColor: white;

@backgroundColor: @lightGray;

@innerShadow: inset 0 -20px 30px -25px #000;

@headerHeight: @navbarDefaultHeight;
@headerBackgroundColor: @darkGray;
@headerColor: @navbarDefaultColor;

@footerHeight: @navbarDefaultHeight;
@footerBackgroundColor: @darkGray;
@footerColor: @navbarDefaultColor;

@snippetBorder: @gray solid 1px;
@snippetBackgroundColor: @extraLightGray;
@snippetHighlightBackgroundColor: white;
@snippetPadding: 1px;
@snippetBadgeWidth: 20px;

@errorBackground: #A44;
@errorColor: white;
