@linkColor: #000;
@highlightColor: #333;
@anyFetchBlue: #25AAE1;
@lightGray: #F0F0F0;
@extraLightGray: #FAFAFA;
@darkGray: #474747;
@navbarDefaultHeight: 50px;
@navbarDefaultColor: white;

// TODO: check this value
@lineHeight: 1.3em;

// TODO: pick background coor
@backgroundColor: @lightGray;
@snippetBackgroundColor: rgba(255, 255, 255, 0.2);
@highlightBackgroundColor: rgba(255, 255, 255, 0.2);

@innerShadow: inset 0 -20px 30px -25px #000;

@headerHeight: @navbarDefaultHeight;
@headerBackgroundColor: @darkGray;
@headerColor: @navbarDefaultColor;

@footerHeight: @navbarDefaultHeight;
@footerBackgroundColor: @darkGray;

@errorBackground: rgba(255, 0, 0, 0.1);
