@linkColor: #000;
@highlightColor: #333;
@anyFetchBlue: #25AAE1;

// TODO: check this value
@lineHeight: 1.3em;

// TODO: pick background coor
@backgroundColor: rgba(200, 200, 200, 0);
@snippetBackgroundColor: rgba(255, 255, 255, 0.2);
@highlightBackgroundColor: rgba(255, 255, 255, 0.2);

@footerHeight: 50px;
@footerBackgroundColor: #07A;

@errorBackground: rgba(255, 0, 0, 0.1);
