doctype html
html
  head
    meta(charset='utf-8')
    script(type='text/javascript', src='/js/mixpanel.js')
    script(type='text/javascript', src='/js/popover.js')
    script(type='text/javascript', src='/js/index-moment.min.js')
    link(rel='stylesheet', type='text/css', href='/css/gmail.css')
    title AnyFetch
  body
    #content
      section#context
      p#errors.hidden
      section#results
    section#footer
      span AnyFetch Instant Context
