<article class="anyfetch-document-snippet anyfetch-type-image">
  <header class="anyfetch-header">
    <h1 class="anyfetch-title">{{{ title }}}</h1>
    <div class="anyfetch-flex anyfetch-flex-row">
      <hgroup class="anyfetch-title-group">
        {{#author}}
          <p class="anyfetch-title-detail anyfetch-person">Coucou{{.}}</p>
        {{/author}}
        <ul class="anyfetch-pipe-list anyfetch-inline-list anyfetch-participants">
        {{#keywords}}
          <li class="anyfetch-name">{{.}}</li>
        {{/keywords}}
        </ul>
      </hgroup>
      {{#thumb}}
        <figure class="anyfetch-aside-image">
          <img src="{{ thumb }}" alt="{{ title }}" />
        </figure>
      {{/thumb}}
    </div>
  </header>
</article>
