doctype html
html
  head
    title AnyFetch
  body
    .help
      p Hi! If you are seeing this screen and it is not closing automatically, we're so sorry for the inconvenience!
      p Please close this window and try again, and if it persists, we would be thankful if you would contact us at contact@anyfetch.com to report the problem.
