doctype html
html
  head
    meta(charset='utf-8')
    script(type='text/javascript', src='/js/ga.js')
    script(type='text/javascript', src='/js/popover.js')
    script(type='text/javascript', src='/js/index-moment.min.js')
    link(rel='stylesheet', type='text/css', href='/css/popover.css')
    title AnyFetch
  body
    a#settingsLink.icon-utility-settings(href='/settings.html', target='_blank')
    section#context
    p#errors.hidden
    section#results
    img.bg-icon(src='/images/icons/anyfetch_icon_heron_only.svg', alt='Anyfetch Icon')
